* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.experiences-container {
  color: #767e86;
  display: flex;
  flex-direction: column;
  padding-top: 3rem;

  margin-left: 1.5rem;
  margin-right: 1.5rem;
  gap: 2rem;
  margin-bottom: 6rem;
}

.experiences-container__text {
  font-family: "Rubik", sans-serif;
  font-size: 1.1rem;
  line-height: 1.4;
}

.experiences-container__name {
  font-family: "Playfair Display", sans-serif;
}

.experiences-container__card {
  border-radius: 15px;
  padding-top: 4rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #f5f6f7;
}

.fa-star {
  color: #ffc107;
  font-size: 1.1rem;
}

.experiences-container__stars {
  display: flex;
  justify-content: flex-start;
  gap: 0.7rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.avatar {
  margin-top: -100px;
}

.person-2 {
  display: none;
}

.person-3 {
  display: none;
}

@media (min-width: 321px) {
  .experiences-container {
    flex-direction: row;
  }

  .experiences-container__card {
    width: 33%;
  }

  .person-2 {
    display: block;
  }

  .person-3 {
    display: block;
  }
}
